body {
  background: rgb(239,228,176);
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.heading {
  margin: 0 auto;
  padding: 0.5em 0;
  background-color: rgb(130,117,30);
  text-align: center;
}

#heading-logo {
  width: 140px;
  height: 140px;
  text-align: center;
}

.heading-text {
  text-align: center;
  margin-top: 0.1em;
  color: rgb(255,251,170);
  font-family:"Forte", "Helvetica Neue", sans-serif;
  font-size: 2.7em;
  font-weight: bold;
  letter-spacing: -0.02em;
}

.input-containter {
  width: 300px;
  margin: 2em auto;
  text-align: center;
}

#additem-txt {
  width: 150px;
  height: 18px;
}

#additem-btn {
  width: 70px;
  height: 23px;
  margin-left: 5px;
}

.shoplist {
  margin-top: 5px;
  padding: 5px 5px 5px 20px;
  text-align: left;
}

.shoplist li {
  margin-top: 8px;
}

.unchkbox {
  float: left;
  margin-top: 2px;
  height: 17px;
  width: 17px;
  background: url('../images/uncheck.png');

}

.checked {
  height: 17px;
  width: 17px;
  background: url('../images/check.png');
}

.itemtxt {
  background-color: rgb(239,228,176);
  margin-left: 10px;
}

.strike-itemtxt {
  text-decoration: line-through;
}

.normal-itemtxt {
  text-decoration: none;
}

#qty-num {
  width: 40px;
  text-align: center;
}

#delete {
  margin-top: 3px;
  float: right;
}



